<h2>JavaScript Arrays</h2>

<p>The push method appends a new element to an array.</p>

<button onclick="myFunction()">Try it</button>

<p id="demo"></p>

<script>
    const fruits = ["Banana", "Orange", "Apple"];
    document.getElementById("demo").innerHTML = fruits;

    function myFunction() {
        fruits.pop();
        document.getElementById("demo").innerHTML = fruits;
    }
</script>