<h2>JavaScript Objects</h2>

<p id="demo"></p>

<script>
    // Create an object:
    const person = {
        firstName: "John",
        lastName: "Doe",
        age: 50,
        eyeColor: "blue",
        fullName: function () {
            return this.firstName + " " + this.lastName;
        }
    };

  

    // Display some data from the object:
    // document.getElementById("demo").innerHTML = person.firstName + " is " + person.age + " years old.";
    document.getElementById("demo").innerHTML = person.fullName();
</script>