
<h2 id="demo"></h2>
<script>

  //  let text = "Hello planet earth, you are a great planet.";
   // let result = text.indexOf("planet");
   // let result = text.lastIndexOf("planet");

    //  let result = text.replace(/planet/g,'Glob');
    //  let result = text.slice(0,5);
    //  let result = text.substr(0,5);

  //  document.write(result);


    let text = "     Hello World!     ";
    let result = text.trim();

        document.getElementById("demo").innerHTML = result;

</script>