<head>
<script type="text/javascript">

function prompter() {
    var answer = prompt("What is your favorite color", "")
    if(answer){
       alert( "Your favorite color is " +  answer + "!");
    }else{
       alert("canceled");
    }
}

</script>
</head>
<body>
<input type="button" onclick="prompter()" value="Favorite">
</body>
