* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

img {
    max-width: 100%;
}

header {
    background: url(img/main.jpeg) no-repeat center center / cover;
    position: relative;
    z-index: 1;
}

header::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(27, 224, 231, 0.4);
    top: 0;
    left: 0;
    z-index: -1;
}

.header-content {
    text-align: center;
    padding: 120px 0;
}

.header-content h1 {
    color: #ffff;
    font-size: 72px;
    font-weight: 600;
}

.header-content p {
    color: #f2f2f2;
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.btn-explore {
    display: inline-block;
    border: 2px solid #f2f2f2;
    color: #fff;
    padding: 10px 21px;
    text-decoration: none;
    font-size: 18px;
}

/* about css */

.section-title {
    text-align: center;
}

.section-title h1 {
    font-size: 54px;
}

.section-title h1 span {
    color: aqua;
}

.about-img-placeholder {
    position: relative;
    border: 8px solid aqua;
    height: 400px;
    width: 100%;
}

.about-img {
    position: absolute;
    top: 1rem;
    left: 1rem;
    height: 100%;
    width: 100%;
}

/* service css */

#service {
    background: rgb(214, 214, 214);
}

.serice-icon {
    height: 70px;
    width: 60px;
    background: aqua;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 32px;
}

.single-feature {
    margin-bottom: 30px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-nav li a::before {
    content: "\ea61";
    margin-right: 10px;
    font-family: "IcoFont";
}