*{
    box-sizing: border-box;
}
.red{
    background: red;
}
.blue{
    background: blue;
}

.pink{
    background: pink;
}
.yellow{
    background: yellow;
}
.orange{
    background: orange;
}

.gray{
    background: gray;
}

.container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   grid-gap: 10px;
   min-height: 300px;
   /* justify-items:center;
   align-items: end; */
   justify-content: end;
   
}

.container > div{
    font-size: 30px;
    text-align: center;
    padding: auto;10px
}
