* {
    box-sizing: border-box;
}

.slider {
    padding: 20px;
    width: 800px;
    height: 200px;
    margin: auto;
    background: red;
    animation-name: colorChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes colorChange {
    0% {
        background-color: red;       
    }
    25% {
        background-color: yellow;
       
    }
    50% {
        background-color: blue;
       
    }
    75% {
        background-color: green;
      
    }
    100% {
        background-color: red;
     
    }
}