* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.box {
    width: 200px;
    height: 200px;
    background: red;
    transition: 1s;
    /* text-align: center;
    line-height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    /* transform: translateY(200px); */
    /* transform: rotate(360deg); */
    transform: skewX(-30deg);
}

.gallary {
    width: 250px;
    height: 300px;
    border: 2px solid red;
    position: relative;
    overflow: hidden;
}

.aboutme {
    position: absolute;
    top: -100%;
    left: 0;
    color: #fff;
    text-align: center;
    transition: 1s;
}

.gallary img {
    transition: 1s;
}

.gallary img:hover {
    transform: scale(1.5);
}

.gallary:hover .aboutme {
    top: 0;
}